
ptychosaxsNN/JM02_3D_deconv.npz
data/orientation_analysis_12x12x12_cyclic_period_120.html
data/orientation_analysis_15x15x15.html
data/orientation_analysis_18x18x18.html
data/orientation_analysis_18x18x18.html
data/orientation_analysis_18x18x18_cyclic_period_120.html
data/orientation_analysis_20x20x20.html
data/orientation_analysis_22x22x22_cyclic_period_120.html.html
data/orientation_analysis_25x25x25.html
diff_sim/lattices/lattice_ls400_gs1024_lsp6_r3.0_typeSC.npy
